@font-face {
	font-family: "Share Tech Mono";
	src: url(../fonts/ShareTechMono-Regular.ttf) format("truetype");
}

*{
	font-family: "Share Tech Mono", monospace;
	color: #E2EBFA;
}

body{
    background-color: #141414;
    overflow: hidden;
    margin: 0;
}

#app{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-around;
	width: 100%;
}